<html>
  <head>
    <!-- 載入 leaflet -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <!--<script src="./data.js"></script>-->
    <script type="text/javascript" src="./Tw_Town.js"></script>
    <script type="text/javascript" src="learn_df.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script async="" src='https://www.google-analytics.com/analytics.js'></script>
    <script src="http://www.chartjs.org/dist/2.6.0/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
      }<!--
      #myMap {
        width: 100vh;
        height: 80%;
      }
      #Chart{
        width: 20%;
        height: 100vh;
      }
      html{
        height: 100%;
        width: 100%;
      }-->
      #Chart{
        position: relative;	/*相對定位*/
        height: 25%;
        width: 100vw;
        top: 0;
        left: 0;
      }
      #myMap {
        position: absolute;
        top: 0;	/*地圖佔頁面的3/4，即 頁面高 - 地圖高 = 定位點高度 (100%-75%=25%) */
        right: 25%;
          height: 100%;	/*地圖高*/
          width: 100vw;
      }
    </style>

  </head>
    <body>
    <div id="myMap"></div>
    <div id="canvas-holder" style="width:25%; height:30%;">
      <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
          <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
          <div class=""></div>
        </div>
    </div>
      <canvas id="chart-area" style="width:10%; height:10%; position: absolute;top: 10px; right: 10px;" class="chartjs-render-monitor"></canvas>
    </div>
    <script>

      const map = L.map("myMap", {
        center: [24.99865716084053, 121.30875443048458],
        zoom: 13
      });
      /* 模擬資料
      const data = [
        { name: "夢時代購物中心", local: [22.595153, 120.306923] },
        { name: "漢神百貨", local: [22.61942, 120.296386] },
        { name: "漢神巨蛋", local: [22.669603, 120.302288] },
        { name: "大統百貨", local: [22.630748, 120.318033] }
      ]; */
      // 設定地圖中心點與放大倍率
      fetch('http://tsp.myvnc.com/objects')
      .then(function(response) {
        res_data = response.json()
        return res_data;
      })
      .then(function(res_data) {
        console.log(res_data);
      
      // 創建 icon
      res_data['data'].forEach(item => {
        const Icon = new L.Icon({
          iconUrl: item.icon_url,//"https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-gold.png",
          shadowUrl:"https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });
        // 添加標記點
        L.marker(item.local, {
          title: item.name,
          icon: Icon
        })
        .addTo(map)
        .bindPopup(item.name);
      });
    });
      // 載入圖資
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>         contributors'
      }).addTo(map);
      var geojson = L.geoJSON(H01)
      function getColor(d) {
        return d > 1000 ? '#800026' :
               d > 500  ? '#BD0026' :
               d > 200  ? '#E31A1C' :
               d > 100  ? '#FC4E2A' :
               d > 50   ? '#FD8D3C' :
               d > 20   ? '#FEB24C' :
               d > 10   ? '#FED976' :
                          '#D2E9FF';
      }
      function style(feature) {
        return {
            fillColor: getColor(feature.properties.density),
            weight: 2,
            opacity: 1,
            color: 'black',
            dashArray: '3',
            fillOpacity: 0.7
        };
      }
      function highlightFeature(e,feature) {
        var layer = e.target;
        layer.setStyle({
            weight: 5,
            color: '#678',
            dashArray: '',
            fillOpacity: 0.7
        });
        var VILLNAME = layer.feature.properties.VILLNAME
        layer.bindTooltip(VILLNAME).openTooltip();
        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
      }
      function zoomToFeature(e) {
        //map.fitBounds(e.target.getBounds());
        var layer = e.target;
        var TOWNNAME = layer.feature.properties.TOWNNAME
        var VILLNAME = layer.feature.properties.VILLNAME
        console.log(TOWNNAME+VILLNAME)
        vill_index = getKeyByValue(vote_data['village_name'], TOWNNAME+VILLNAME);
        console.log(vill_index);
        
        var color_list = []
        var candidate_data = []
        var candidate_name = []
        var random_green = ['#006000','#007500','#009100','#00A600','#00BB00','#00DB00','#00EC00','#28FF28','#53FF53',
                            '#79FF79','#006030','#01814A','#019858','#01B468','#02C874','#02DF82','#02F78E','#1AFD9C']
        var random_blue = ['#003060','#003D79','#004B97','#005AB5','#0066CC','#0072E3','#0080FF','#2894FF','#46A3FF',
                           '#000079','#000093','#0000C6','#0000C6','#0000E3','#2828FF','#4A4AFF','#6A6AFF','#7D7DFF']
        var random_yellow = ['#FFD306','#FFDC35','#FFE153','#FFE66F']
        var random_TMD = ['#00E3E3','#00FFFF','#4DFFFF','#80FFFF','#A6FFFF']
        var random_no_party = ['#4F4F4F','#5B5B5B','#6C6C6C','#7B7B7B','#8E8E8E','#9D9D9D','#ADADAD','#BEBEBE','#D0D0D0']
        candidate_data_length = Object.keys(vote_data).length-8
        for(var i = 1; i < candidate_data_length; i++) {
          if(vote_data[i][1] == '民主進步黨'){
            color_list.push(random_green[0])
            random_green.shift()
          }else if(vote_data[i][1] == "中國國民黨"){
            color_list.push(random_blue[0])
            random_blue.shift()
          }else if(vote_data[i][1] == "時代力量"){
            color_list.push(random_yellow[0])
            random_yellow.shift()
          }else if(vote_data[i][1] == '台灣民眾黨'){
            color_list.push(random_TMD[0])
            random_TMD.shift()
          }else{
            color_list.push(random_no_party[0])
            random_no_party.shift()
          }
          candidate_data.push(vote_data[i][vill_index])
          candidate_name.push(vote_data[i][0])
        }
        config.data.datasets.forEach(function(e) {
          e.data = candidate_data,
          e.backgroundColor = color_list
        });
        config.data.labels.forEach(function(e) {
          e.labels = candidate_name
        });
        window.myPie.update();
      }
      function resetHighlight(e) {
        geojson.resetStyle(e.target);
      }
      function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
      }
      //////////////////////////////////////////////
      function getKeyByValue(object, value) {
        for (var prop in object) {
            if (object.hasOwnProperty(prop)) {
                if (object[prop] === value)
                return prop;
            }
        }
    }
      //////////////////////////////////////////
      L.geoJSON(H01, {onEachFeature: onEachFeature}).addTo(map);
      console.log(H01)
      console.log(vote_data)

        var color_list = []
        var candidate_data = []
        var candidate_name = []
        var random_green = ['#006000','#007500','#009100','#00A600','#00BB00','#00DB00','#00EC00','#28FF28','#53FF53',
                            '#79FF79','#006030','#01814A','#019858','#01B468','#02C874','#02DF82','#02F78E','#1AFD9C']
        var random_blue = ['#003060','#003D79','#004B97','#005AB5','#0066CC','#0072E3','#0080FF','#2894FF','#46A3FF',
                           '#000079','#000093','#0000C6','#0000C6','#0000E3','#2828FF','#4A4AFF','#6A6AFF','#7D7DFF']
        var random_yellow = ['#FFD306','#FFDC35','#FFE153','#FFE66F']
        var random_TMD = ['#00E3E3','#00FFFF','#4DFFFF','#80FFFF','#A6FFFF']
        var random_no_party = ['#4F4F4F','#5B5B5B','#6C6C6C','#7B7B7B','#8E8E8E','#9D9D9D','#ADADAD','#BEBEBE','#D0D0D0']
        candidate_data_length = Object.keys(vote_data).length-8
        for(var i = 1; i < candidate_data_length; i++) {
          if(vote_data[i][1] == '民主進步黨'){
            color_list.push(random_green[0])
            random_green.shift()
          }else if(vote_data[i][1] == "中國國民黨"){
            color_list.push(random_blue[0])
            random_blue.shift()
          }else if(vote_data[i][1] == '時代力量'){
            color_list.push(random_yellow[0])
            random_yellow.shift()
          }else if(vote_data[i][1] == '台灣民眾黨'){
            color_list.push(random_TMD[0])
            random_TMD.shift()
          }else{
            color_list.push(random_no_party[0])
            random_no_party.shift()
          }
          candidate_data.push(vote_data[i][2])
          candidate_name.push(vote_data[i][0])
        }
      
      var config = {
        type: 'pie',
        data: {
          datasets: [{
            data: candidate_data,
            backgroundColor: color_list,
            label: 'Dataset 2'
          }],
          labels: candidate_name
          ,
          options: {
            responsive: true
          }
        }
      };
      window.onload = function() {
        var ctx = document.getElementById('chart-area');//.getContext('2d');
        window.myPie = new Chart(ctx, config);
      };
    </script>
  </body>
</html>